@import "tailwindcss";

:root {
  --background: #111111;
  --accent-1: #1b1b1b;
  --accent-2: #323232;
  --accent-3: #585858;
  --accent-4: #777777;
  --foreground: #ffffff;
  --primary: #f6339a;
}

@theme inline {
  --color-background: var(--background);
  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-accent-4: var(--accent-4);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
}
