@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --gray-1: #222222;
  --gray-2: #383838;
  --gray-3: #4c4c4c;
  --gray-4: #5e5e5e;
  --gray-5: #6e6e6e;
  --foreground: #ffffff;
  --primary: #ff4070;
}

@theme inline {
  --color-background: var(--background);
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
}
